// Poppins Font

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.ttf);
    font-weight: 900;
}

// Source Code Pro Font

@font-face {
    font-family: 'Source Code Pro';
    src: url(../fonts/SourceCodePro-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url(../fonts/SourceCodePro-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url(../fonts/SourceCodePro-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url(../fonts/SourceCodePro-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url(../fonts/SourceCodePro-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Source Code Pro';
    src: url(../fonts/SourceCodePro-Black.ttf);
    font-weight: 900;
}